/* .dropdown-category, 
    .dropdown-content {
        min-width: 100%;
        left: 0;
    } */
     /* .layout:nth-child(1)::after,
        .layout:nth-child(2)::after,
        .layout:nth-child(4)::after,
        .layout:nth-child(6)::after {
            content: "";
            position: absolute;
            right: -1px;
            width: 120px;
            height: 30px;
            background: black;
        } */
/* body.dark-mode .layout:first-child,
        body.dark-mode .layout:nth-child(2),
        body.dark-mode .layout:nth-child(3),
        body.dark-mode .layout:nth-child(4),
        body.dark-mode .layout:nth-child(5),
        body.dark-mode .layout:nth-child(6),
        body.dark-mode .layout:last-child {
            color: black;
        } */
/* #markdown-content table {
        display: table-cell;
    } */







/* Responsive Design */
@media (max-width: 768px) {
    .sidebar, .content {
        flex-basis: 100%;
    }
    .sidebar {
        width: 100%;
    }
    .dropdown {
        margin-bottom: 10px;
    }

    .dropbtn {
        width: 100%;
        text-align: left;
    }

    .dropdown-category a, .dropdown-content a {
        padding-left: 20px;
    }

    .dropdown-content a {
        padding-left: 40px;
    }
    /* #sidebar-placeholder {
        --section-max-width: none;
        --section-width: 100%;
        max-width: var(--section-max-width);
        width: var(--section-width);
    } */

/* 
    .container::after {
        content: "";
        position: absolute;
        top: 105px;
        right: 0px;
        width: 100px;
        height: 20px;
        background: black;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .layout:nth-child(2n)::after {
        content: "";
        position: absolute;
        top: 0;
        left: 70%;
        width: 25%;
        height: 60%;
        background: black;
    } */
    
    /* .layout:nth-child(odd)::after {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        width: 120px;
        height: 30px;
        background: black;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    } */

    /* .layout:nth-child(4n-1)::after {
        display: none;
    } */

    /* Loại bỏ phím đen ở vị trí không hợp lệ (C, E, F, B không có nốt đen bên phải) */
    /* .layout:nth-child(3n + 3)::after {
        display: none;
    } */

    #sidebar-placeholder,
    body.dark-mode #sidebar-placeholder {
        background-color: #1C1C1C;
    }
    #sidebar-placeholder:has(.dropdown-container.show){
        background-color: white;
    }
    #sidebar-placeholder:has(.dropdown-container.show),
    body.dark-mode #sidebar-placeholder:has(.dropdown-container.show) {
        transition: background-color 0.3s, color 0.3s;
    }

    body.dark-mode #sidebar-placeholder {
        border: 1.5px solid #f8f8f8;
    }

    #markdown-content iframe {
        height: 200px;
    }
    .note-tooltip {
        /* left: 100%;
        transform: translateY(50%); */
        max-width: 200px;
    }

    /* header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    } */

    header h1 {
        /* display: block; */
        /* position: relative; */
        min-width: max-content;
        /* right: 50%; */
        /* border: 1.5px solid var(--darkmode-content-color); */
        /* border-radius: 5px; */
        /* padding: 5px; */
    }

    /* header { */
        /* justify-content: flex-start; */
        /* justify-content: flex-end; */
    /* } */

    
    body.dark-mode .dark-mode-toggle {
        background-color: black;
        border: none;
    }

    .dark-mode-toggle img {
        width: 100%;
    }
}