/* body:has(#notebook-content) header {
    display: flex;
    position: relative;
    background-color: #1C1C1C;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding: 20px;
} */

/* #notebook-content .dropbtn a {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
} */

/* body.dark-mode #notebook-content .jp-RenderedText.jp-OutputArea-output {
    background-color: #EE9999;
} */

/* Navigation Styles */
ul ul li {
    /* border-left: 1px solid gray; */
    padding: 10px;
    border: 1.2px solid black;
    background-color: var(--note-background-color);
    border-radius: 5px;
}

ul ul ul li {
    list-style-type: disc;
}

ul ul li:has(code[class]) {
    border: none;
}

nav ul {
    list-style: none;
    gap: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

ol {
    margin-left: 35px;
}

ol li::marker {
    color: var(--highlight-color);
    font-weight: bold;
    font-size: 1.1em;
}

img {
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content img {
    background-color: white;
    display: block; /* Chuyển thẻ img thành block để dễ xử lý */
}

/* Nút đóng/mở Dark mode */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

body.dark-mode .dark-mode-toggle {
    background-color: black;
    border: 1px solid white;
}

.dark-mode-toggle img {
    display: block;
    width: 25px;
    height: 25px;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
    transition: opacity 0.3s ease;
}

.light-mode-icon {
    opacity: 1;
}

.dark-mode-icon {
    opacity: 0;
}

body.dark-mode .light-mode-icon {
    opacity: 0;
}

body.dark-mode .dark-mode-icon {
    opacity: 1;
}

/* Dark mode */
body.dark-mode main {
    background-color: #2c2c2c;
    transition: background-color 0.3s, color 0.3s;
}

/* Định dạng table */


#notebook-content div.jp-RenderedHTMLCommon.jp-RenderedHTML.jp-OutputArea-output.jp-OutputArea-executeResult[data-mime-type="text/html"] div.colab-df-container div div.colab-df-buttons {
    display: none;
}

#notebook-content div.jp-RenderedHTMLCommon.jp-RenderedHTML.jp-OutputArea-output.jp-OutputArea-executeResult[data-mime-type="text/html"] div.colab-df-container div table{
    display: table;
    flex: 1;
    /* width: 100%; */
}

#notebook-content div.jp-RenderedHTMLCommon.jp-RenderedMarkdown.jp-MarkdownOutput[data-mime-type="text/markdown"] table {
    border: 1.5px solid black;
}

body.dark-mode #notebook-content div.jp-RenderedHTMLCommon.jp-RenderedMarkdown.jp-MarkdownOutput[data-mime-type="text/markdown"] table {
    border: 1.5px solid var(--darkmode-content-color);
}

html:has(#notebook-content) em {
    color: var(--highlight-color);
}

#notebook-content h1.notebook-title,
body.dark-mode #notebook-content h1.notebook-title {
    border-bottom: none;
    font-size: 2em;
    text-align: center;
    /* text-decoration: underline; */
    color: var(--highlight-color);
    padding: 15px;
    margin-top: 1px;
    margin-left: -5px;
    margin-right: -5px;
}

#notebook-content h1.notebook-title {
    background-color: #f5f5f5;
    border-top: 1.2px solid black;
    border-bottom: 1.2px solid black;
}

#notebook-content main div:not(div.colab-df-buttons) {
    flex: 1;
}

#notebook-content th {
    background-color: transparent;
    color: black;
}

#notebook-content img {
    display: block;
    border: 1.5px solid black;
    border-right: none;
    background-color: #fafafa;
    width: 100%;
    max-height: 500px;
    margin-left: 0px;
}

body.dark-mode #notebook-content h1.notebook-title {
    background-color: #3a3a3a;
    border-top: 1.2px solid var(--darkmode-content-color);
    border-bottom: 1.2px solid var(--darkmode-content-color);
}

body.dark-mode #notebook-content img {
    border: 1.5px solid var(--darkmode-content-color);
    border-right: none;
}

nav ul {
    margin-right: 202px;
}

/* === Dropdown and Sidebar Styling === */
main:has(#notebook-content) .dropdown {
    margin-bottom: 10px;
}

main:has(#notebook-content) .sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    padding: 0;
}

/* === Responsive Design === */
@media (max-width: 768px) {
    

    header .piano-keys,
    footer .piano-keys {
        display: none;
    }

    main {
        flex-direction: column;
    }

    .content {
        padding: 0px;
    }

    .sidebar, .content {
        flex-basis: 100%;
    }

    .sidebar {
        width: 100%;
    }

    section {
        margin-top: 10px;
    }

    .dropdown {
        margin-bottom: 10px;
    }

    .dropbtn {
        width: 100%;
        text-align: left;
    }

    .dropdown-item,
    .dropdown-content {
        width: auto;
    }

    .dropdown-category, .dropdown-content {
        min-width: 100%;
        left: 0;
    }

    .dropdown-category {
        position: static;
        display: none;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-content {
        position: static;
        display: none;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-category.show,
    .dropdown-content.show {
        display: block;
    }

    .dropdown-category a, .dropdown-content a {
        padding-left: 20px;
    }

    .dropdown-content a {
        padding-left: 40px;
    }

    .category-btn {
        display: block;
    }

    .dropdown-container {
        display: none;
    }

    .dropdown-container.show {
        display: block;
    }

    #sidebar-placeholder {
        background-color: #1C1C1C;
    }

    #sidebar-placeholder:has(.dropdown-container.show){
        background-color: white;
    }

    .category-btn {
        border: none;
        border-radius: 0px;
    }

    #sidebar-placeholder:has(.dropdown-container.show) .category-btn,
    body.dark-mode #sidebar-placeholder:has(.dropdown-container.show) .category-btn {
        border: 1.5px solid black;
        border-radius: 5px;
    }

    body.dark-mode #sidebar-placeholder {
        border: 1.5px solid var(--darkmode-content-color);
    }

    body.dark-mode #sidebar-placeholder:has(.dropdown-container.show) {
        background-color: var(--darkmode-content-color);
    }

    #sidebar-placeholder:has(.dropdown-container.show),
    body.dark-mode #sidebar-placeholder:has(.dropdown-container.show) {
        transition: background-color 0.3s, color 0.3s;
    }

    #notebook-content img {
        height: auto;
    }
    div.colab-df-buttons {
        display: none;
    }

    header h1 {
        min-width: max-content;
        border: 1.5px solid var(--darkmode-content-color);
        border-radius: 5px;
        padding: 5px;
        /* cursor: pointer; */
    }

    /* nav {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    } */

    nav ul {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        margin-right: 30px;
    }

    /* nav ul {
        display: none;
        background-color: #1C1C1C;
        padding: 0;
    } */

    nav ul.show {
        display: block;
        /* position: absolute; */
    }

    .nav-menu.show {
        display: flex;
    }

    /* header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    } */
     
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header h1 {
        min-width: max-content;
        /* border: 1.5px solid var(--darkmode-content-color); */
        /* border-radius: 5px; */
        padding: 5px;
    }

    nav {
        display: none;
    }
    nav.show {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #ccc;
        padding: 0;
        /* display: block; */
        background-color: #1C1C1C;
        border: 1.5px solid var(--darkmode-content-color);
        z-index: 1;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav ul {
        flex:1;
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 10px;
    }
    #headerMenu {
        cursor: pointer;
        user-select: none;
        -webkit-user-drag: none;
        border: 1.5px solid var(--darkmode-content-color);
        border-radius: 5px;
        padding: 5px;
    }
}