/* *{
    outline: 1px solid red;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(ul) {
    margin: 0;
    padding: 0;
}

:root {
    --font: system-ui;
    /* Helvetica */
    /* Tahoma */
    /* font-family: Consolas; */
    /* Palatino Linotype, Book Antiqua */
    --input-code-color: #f5f5f5;
    --block-color: #dfdfdf;
    --highlight-color: #4169E1;
    --note-background-color: #fafafa;

    --darkmode-content-color: #fafafa;
    --darkmode-block-color: #494949;
    --darkmode-note-background-color: #3f3f3f;

    --mobile-spacing: 15px;
}