/* *{
    outline: 1px solid red;
} */
* {
    transition:
        background-color 0.35s ease,
        color 0.35s ease;
}

/* * {
    box-sizing: border-box;
    font-family: "JetBrains Mono", "Consolas", monospace;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(ul) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: system-ui;
    /* Helvetica */
    /* Tahoma */
    /* font-family: Consolas; */
    /* Palatino Linotype, Book Antiqua */
    --input-code-color: #f5f5f5;
    --block-color: #dfdfdf;
    --highlight-color: #4169E1;
    --note-background-color: #fafafa;

    --darkmode-content-color: #fafafa;
    --darkmode-block-color: #494949;
    --darkmode-note-background-color: #3f3f3f;

    --mobile-spacing: 15px;
    --mobile-screen-size: 800px
}