:root {
    --block-color: #eaeaea;
    --highlight-color: #4169E1;
    --note-background-color: #fafafa;

    --darkmode-block-color: #3f3f3f;
    --darkmode-content-color: #fafafa;
    --darkmode-note-background-color: #2e2e2e;

    --mobile-spacing: 15px;
}