:root {
    --block-color: #eaeaea;
    --highlight-color: #4169E1;
    --note-background-color: #fafafa;

    --darkmode-content-color: #fafafa;
    --darkmode-note-background-color: #3e3e3e;

    --mobile-spacing: 15px;
}