body.dark-mode main {
    background-color: #2c2c2c;
}

/* Dark mode toggle styles */
.dark-mode-toggle {
    position: fixed;
    top: 10px; /* Khoảng cách từ phía trên màn hình */
    right: 5px; /* Khoảng cách từ phía phải màn hình */
    z-index: 1000; /* Đảm bảo nút nằm trên cùng */
    background-color: white; /* Màu nền*/
    border-radius: 10px; /* Bo tròn nút */
    border: 1.5px solid black;
    padding: 5px; /* Khoảng cách bên trong nút */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    cursor: pointer; /* Hiển thị con trỏ dạng nút khi hover */

    /* Đặt nút nằm ngang */
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
}

/* Dark mode toggle styles */
body.dark-mode .dark-mode-toggle {
    background-color: black;
    border: 1.5px solid white;
}

/*  display: flex; Nằm ngang
    align-items: center; */

.dark-mode-toggle img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
    transition: opacity 0.3s ease;
}

.light-mode-icon {
    opacity: 1;
}

.dark-mode-icon {
    opacity: 0;
}

body.dark-mode .light-mode-icon {
    opacity: 0;
}

body.dark-mode .dark-mode-icon {
    opacity: 1;
}

/* Dark mode styles */
body.dark-mode {
    color: var(--darkmode-content-color);
}

/* body.dark-mode .dropdown-category {
    background-color: #3998fd;
} */

body.dark-mode .note {
    background-color: var(--darkmode-note-background-color);
    color: #f0f0f0;
}

body.dark-mode .md-note {
    color: var(--darkmode-content-color);
    background-color: var(--darkmode-block-color);
    border: 1.2px solid var(--darkmode-content-color);
    border-left: 2px solid var(--highlight-color);
}

body.dark-mode #markdown-content pre code:has([class]) {
    border: 1px solid var(--darkmode-content-color);
}

body.dark-mode #markdown-content span.key-term {
    background-color: var(--darkmode-block-color);
    border: 1px solid var(--darkmode-content-color);
    border-left: 2px solid var(--highlight-color);
}

/* body.dark-mode .dropdown-content {
    background-color: #7abaff;
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.2);
} */

/* body.dark-mode .dropdown-category a:hover, 
body.dark-mode .dropdown-content a:hover {
    background-color: #4d4d4d;
} */

body.dark-mode #markdown-content code:not([class]) {
    background-color: #3d3d3d;
    color: var(--darkmode-content-color);
}

/* 
body.dark-mode #markdown-content code.language-python,
body.dark-mode #markdown-content code.language-css,
body.dark-mode #markdown-content code.language-js {
    background-color:inherit;
    color: inherit;
} */

body.dark-mode #markdown-content code.language-python,
body.dark-mode #markdown-content code.language-css {
    border: 1px solid var(--darkmode-content-color);
}

body.dark-mode #markdown-content code.language-js {
    /* border: 1px solid var(--darkmode-content-color); */
    color: black;
}

body.dark-mode #markdown-content mjx-container.MathJax.CtxtMenu_Attached_0[display="true"]{
    background-color: var(--darkmode-note-background-color);
    border: 1px solid var(--darkmode-content-color);
}

body.dark-mode .language-python::before,
body.dark-mode .language-css::before {
    border: 1px solid var(--darkmode-content-color);
}

body.dark-mode #markdown-content h1,
body.dark-mode #markdown-content h2,
body.dark-mode #markdown-content h3:not(.layout h3),
body.dark-mode .main h1, 
body.dark-mode .main h2,
body.dark-mode .main h3:not(.layout h3) {
    border-bottom-color: var(--darkmode-content-color);
}

body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
    border: 1px solid #ddd;
}

/* body.dark-mode #markdown-content table,
body.dark-mode #markdown-content th ,
body.dark-mode #markdown-content td {
    border: 1px solid #ddd;
} */

/* Định nghĩa kiểu cho hàng lẻ và chẵn */
body.dark-mode #markdown-content tr:nth-child(even) {
    background-color: #2b2b2b; /* Màu nền cho hàng chẵn */
}

body.dark-mode #markdown-content tr:nth-child(odd) {
    background-color: rgb(90, 90, 90); /* Màu nền cho hàng lẻ */
}

/* Đổi màu khi di chuột qua hàng */
body.dark-mode #markdown-content tr:hover {
    background-color: rgb(30, 30, 30); /* Màu nền khi di chuột qua */
}

/* body.dark-mode .layout{
    background-color: rgb(50, 50, 50);
    border: 0.5px solid white;
} */

body.dark-mode #markdown-content {
    border: 1.5px solid #f0f0f0;
}

body.dark-mode ul ul li {
    border: 1.2px solid #f0f0f0;;
    background-color: var(--darkmode-note-background-color);
}

body.dark-mode header .keys,
body.dark-mode footer .keys,
body.dark-mode .category-btn .keys {
    background: var(--darkmode-content-color);
}

/* body.dark-mode #markdown-content p:has(br){
    border: 1.5px solid var(--darkmode-content-color);
} */

body.dark-mode  a.dropbtn {
    color: inherit;
    color: black;
}

body.dark-mode #markdown-content p:has(br){
    color: black;
}

body.dark-mode #markdown-content p:has(br) .key-term{
    color: var(--darkmode-content-color);
}