.layout {
    padding: 10px;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    position: relative;
    /* text-align: center; */
    /* font-size: 18px; */
    /* font-weight: bold; */
    transition: transform 0.2s ease-in-out;
}
.layout:hover {
    transform: scale(1.02);
    /* background: linear-gradient(#ddd, white); */
}

.layout:first-child {
    grid-column: span 3;
}

.layout:nth-child(2) {
    grid-column: span 3;
}

.layout:nth-child(3) {
    grid-column: 1;
}

.layout:nth-child(6) {
    grid-column: 3;
}

.layout:nth-child(4),
.layout:nth-child(5) {
    grid-column: span 2;
}
.layout:last-child {
    grid-column: span 3;
}

.layout:nth-child(7) {
    grid-column: span 3;
}

.layout:nth-child(1)::after,
.layout:nth-child(2)::after,
.layout:nth-child(4)::after,
.layout:nth-child(7)::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -1px;
    width: 120px;
    height: 30px;
    background: black;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.layout:nth-child(6)::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -1px;
    width: 120px;
    height: 30px;
    background: black;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.layout:nth-child(3)::after,
.layout:nth-child(5)::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -1px;
    width: 120px;
    height: 30px;
    background: black;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

#markdown-content .layout h1,
#markdown-content .layout h2 {
    border-bottom: none;
    text-decoration: underline;
    /* text-align: center; */
}

span.quote {
    color: #fd7e14;
    font-size: 0.75em;
    vertical-align: super;
}

span.quote a {
    color: #fd7e14;
}

a.download {
    display: block;
    position: absolute;
    border: 1.2px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    top: 2px;
    right: 2px;
    text-decoration: none;
}

/* Trang trí web */
.piano-keys {
    pointer-events: none;
    position: absolute;
    display: flex;
    gap: 5px;
}

/* Trang trí cho header & footer (destop) */
header .keys,
footer .keys {
    width: 15px;
    height: 70px;
    background: white;
    /* opacity: 0.5; */
    /* mix-blend-mode: multiply; */
}

header .keys:nth-child(2),
header .keys:nth-child(4),
header .keys:nth-child(7),
header .keys:nth-child(9),
header .keys:nth-child(11),
footer .keys:nth-child(2),
footer .keys:nth-child(4),
footer .keys:nth-child(7),
footer .keys:nth-child(9),
footer .keys:nth-child(11) {
    width: 1.5px;
    height: 55px;
}

header .piano-keys,
footer .piano-keys {
    gap: 5px;
}

header .piano-keys {
    top: 0;
    right: 50px;
    flex-direction: row-reverse;
}

footer .piano-keys {
    bottom: 0;
    left: 50px;
    flex-direction: row-reverse;
    transform: rotate(180deg);
}

/* Trang trí Danh mục (mobile) */
.category-btn .piano-keys {
    gap: 3px;
}

.category-btn .keys {
    width: 15px;
    height: 45px;
    background: white;
}

.category-btn .keys:nth-child(2),
.category-btn .keys:nth-child(4),
.category-btn .keys:nth-child(7),
.category-btn .keys:nth-child(9),
.category-btn .keys:nth-child(11) {
    width: 1.2px;
    height: 25px;
}

.category-btn .piano-keys {
    top: 0px;
    right: 0px;
    flex-direction: row-reverse;
    transform: rotate(180deg);
}