.wave-bars {
    pointer-events: none;
    position: absolute;
    display: flex;
    gap: 5px;
}


/* Trang trí cho header & footer (destop) */
header .bar,
footer .bar {
    width: 15px;
    height: 80px;
    background: #f8f8f8;
    /* opacity: 0.5; */
    /* mix-blend-mode: multiply; */
}

header .bar:nth-child(3),
header .bar:nth-child(5),
header .bar:nth-child(8),
header .bar:nth-child(10),
header .bar:nth-child(12),
footer .bar:nth-child(3),
footer .bar:nth-child(5),
footer .bar:nth-child(8),
footer .bar:nth-child(10),
footer .bar:nth-child(12) {
    width: 1.5px;
    height: 55px;
}

header .wave-bars,
footer .wave-bars {
    gap: 5px;
}

header .wave-bars {
    top: 0;
    right: 50px;
    flex-direction: row-reverse;
}

footer .wave-bars {
    bottom: 0;
    left: 50px;
    flex-direction: row-reverse;
    transform: rotate(180deg);
}

/* Trang trí Danh mục (mobile) */
.category-btn .wave-bars {
    gap: 3px;
}

.category-btn .bar {
    width: 15px;
    height: 40px;
    background: #f8f8f8;
}

.category-btn .bar:nth-child(2),
.category-btn .bar:nth-child(4),
.category-btn .bar:nth-child(7),
.category-btn .bar:nth-child(9),
.category-btn .bar:nth-child(11) {
    width: 1.2px;
    height: 25px;
}

.category-btn .wave-bars {
    top: 0;
    right: 0px;
    flex-direction: row-reverse;
}
