/* Reset and Base Styles */
*:not(ul) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Layout Components */
header {
    display: flex;
    position: relative;
    background-color: #1C1C1C;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding: 20px;
    /* text-align: center; */
    text-align: left; /* căn trái nội dung */
}

header h1 {
    display: flex;
    padding: 5px;
    border: 1.5px solid var(--darkmode-content-color);
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
    /* background-color: #E5E5E5; */
}

footer {
    position: relative;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: auto;
    background-color: #1C1C1C;
    color: white;
    padding: 20px;
}

/* Content Styles */
.content {
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    flex-shrink: 0;
    position: relative;
    max-width: 80%;
    padding: 20px;
    white-space: normal;
    word-wrap: break-word;
    /* overflow: hidden; */
    /* height: 100%; */
    /* background-color: #fff; */
    /* position: relative;
    overflow: hidden;
    border: 1.5px solid black;
    border-radius: 5px; */
}

p {
    text-indent: 2em;
    margin-bottom: 10px;
    line-height: 1.7;
}

p + p {
    margin-bottom: 0px;
}

p:has( + p) {
    margin-bottom: 0px;
}

li + p {
    text-indent: 0px;
}

ul ul li {
    /* border-left: 1px solid gray; */
    padding: 10px;
    border: 1.2px solid black;
    background-color: var(--note-background-color);
    border-radius: 5px;
}

ul {
    padding-left: 3em;
}

ol {
    padding-left: 1em;
}

ol li::marker {
    color: var(--highlight-color);
    font-weight: bold;
    /* font-size: 1.1em; */
}

nav ul {
    list-style: none;
    gap: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-right: 202px;
}

/* nav ul li {
    margin: 0 10px;
} */

ul ul ul li {
    list-style-type: disc;
}

ul ul li:has(code[class]) {
    border: none;
}


ol {
    margin-left: 35px;
}

/* ol {
    list-style: none;
    counter-reset: list-counter;
    margin-left: 20px;
}
  
ol li {
counter-increment: list-counter;
position: relative;
padding-left: 20px;
}
  
ol li::before {
content: counter(list-counter) ".";
position: absolute;
left: 0;
color: var(--highlight-color);
font-weight: bold;
} */

/* Image Styles */
img {
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content img {
    background-color: white;
    display: block; /* Chuyển thẻ img thành block để dễ xử lý */
}

#markdown-content .video-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#markdown-content iframe {
    width: 100%;
    height: 400px;
    border: none;
}

#markdown-content {
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 15px;
}

#markdown-content:has(.container) {
    border: none;
    padding: 0px;
}

/* Note Styles */
.note {
    background-color: #e9e9e9;
    border-left: 5px solid #ff9800;
    padding: 10px;
    margin: 20px 0;
}

/* Định nghĩa kiểu cho toàn bộ bảng */
/* display: block;
overflow-x: auto;
-webkit-overflow-scrolling: touch; */

/* Ghi chú câu */
.md-note {
    position: relative;
    display: inline-block;
    background-color: var(--block-color);
    border: 1.2px solid black;
    border-left: 2px solid var(--highlight-color);
    /*top - right - bottom - left */
    padding:0 5px 0 0;
    cursor: pointer;
    text-indent: 0;
}

.note-tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px;
    border: 1.5px solid var(--darkmode-content-color);
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
    width: max-content;
    max-width: 500px;
    white-space: normal;
    overflow-wrap: break-word;
}

.md-note:hover .note-tooltip {
    visibility: visible;
    opacity: 1;
}
.note-tooltip:empty {
    display: none;
}

section {
    flex: 1;
}

#markdown-content {
    flex: 1;
}

section {
    margin-top: -20px;
}

.layout {
    padding: 10px;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    position: relative;
    /* text-align: center; */
    /* font-size: 18px; */
    /* font-weight: bold; */
    transition: transform 0.2s ease-in-out;
}
.layout:hover {
    transform: scale(1.02);
    /* background: linear-gradient(#ddd, white); */
}

.layout:first-child {
    grid-column: span 3;
}

.layout:nth-child(2) {
    grid-column: span 3;
}

.layout:nth-child(3) {
    grid-column: 1;
}

.layout:nth-child(6) {
    grid-column: 3;
}

.layout:nth-child(4),
.layout:nth-child(5) {
    grid-column: span 2;
}
.layout:last-child {
    grid-column: span 3;
}

.layout:nth-child(7) {
    grid-column: span 3;
}

.layout:nth-child(1)::after,
.layout:nth-child(2)::after,
.layout:nth-child(4)::after,
.layout:nth-child(7)::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -1px;
    width: 120px;
    height: 30px;
    background: black;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.layout:nth-child(6)::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -1px;
    width: 120px;
    height: 30px;
    background: black;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

.layout:nth-child(3)::after,
.layout:nth-child(5)::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -1px;
    width: 120px;
    height: 30px;
    background: black;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

#markdown-content .layout h1,
#markdown-content .layout h2 {
    border-bottom: none;
    text-decoration: underline;
    /* text-align: center; */
}

span.quote {
    color: #fd7e14;
    font-size: 0.75em;
    vertical-align: super;
}

span.quote a {
    color: #fd7e14;
}

a.download {
    display: block;
    position: absolute;
    border: 1.2px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    top: 2px;
    right: 2px;
}