/* Reset and Base Styles */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Layout Components */
header {
    display: flex;
    position: relative;
    background-color: #1C1C1C;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    padding: 20px;
    /* text-align: center; */
    text-align: left; /* căn trái nội dung */
}

header h1 {
    display: flex;
    padding: 5px;
    border: 1.5px solid var(--darkmode-content-color);
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    flex-grow: 1;
    /* background-color: #E5E5E5; */
}

footer {
    position: relative;
    padding: 10px;
    width: 100%;
    text-align: right;
    margin-top: auto;
    background-color: #1C1C1C;
    color: white;
    padding: 20px;
    padding-right: 25px;
}

footer p {
    text-indent: 0;
    font-style: italic;
    width: fit-content;
    margin-left: auto;
}

/* Content Styles */
.content {
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    flex-shrink: 0;
    position: relative;
    max-width: 80%;
    padding: 20px 0px 0px 25px;
    white-space: normal;
    word-wrap: break-word;
    /* overflow: hidden; */
    /* height: 100%; */
    /* background-color: #fff; */
    /* position: relative;
    overflow: hidden;
    border: 1.5px solid black;
    border-radius: 5px; */
}

p {
    text-indent: 2em;
    margin-bottom: 10px;
    line-height: 1.7;
}

p + p {
    margin-bottom: 0px;
}

p:has( + p) {
    margin-bottom: 0px;
}

li + p {
    text-indent: 0px;
}

ul ul li {
    /* border-left: 1px solid gray; */
    padding: 10px;
    border: 1.2px solid black;
    background-color: var(--note-background-color);
    border-radius: 5px;
}

ul {
    padding-left: 3em;
}

ol {
    padding-left: 1em;
}

ol li::marker {
    color: var(--highlight-color);
    font-weight: bold;
    /* font-size: 1.1em; */
}

nav ul {
    list-style: none;
    gap: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-right: 195px;
}

/* nav ul li {
    margin: 0 10px;
} */

ul ul ul li {
    list-style-type: disc;
}

ul ul li:has(code[class]) {
    border: none;
}


ol {
    margin-left: 35px;
}

/* ol {
    list-style: none;
    counter-reset: list-counter;
    margin-left: 20px;
}
  
ol li {
counter-increment: list-counter;
position: relative;
padding-left: 20px;
}
  
ol li::before {
content: counter(list-counter) ".";
position: absolute;
left: 0;
color: var(--highlight-color);
font-weight: bold;
} */

/* Image Styles */
img {
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content img {
    background-color: white;
    display: block; /* Chuyển thẻ img thành block để dễ xử lý */
}

#markdown-content .video-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#markdown-content iframe {
    width: 100%;
    height: 400px;
    border: none;
}

#markdown-content {
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 15px;
}

#markdown-content:has(.container) {
    border: none;
    padding: 0px;
}

/* Note Styles */
.note {
    background-color: #e9e9e9;
    border-left: 5px solid #ff9800;
    padding: 10px;
    margin: 20px 0;
}

/* Định nghĩa kiểu cho toàn bộ bảng */
/* display: block;
overflow-x: auto;
-webkit-overflow-scrolling: touch; */

/* Ghi chú câu */
/* Tooltip */
.md-note {
    position: relative;
    display: inline-block;
    background-color: var(--block-color);
    border: 1.2px solid black;
    border-left: 2px solid var(--highlight-color);
    /*top - right - bottom - left */
    padding:0 5px 0 0;
    cursor: pointer;
    text-indent: 0;
}

br + .md-note {
    margin-bottom: 5px;
}

.note-tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 105%;
    /* left: 50%; */
    right: 0;
    transform: translateX(2px);
    background-color: #333;
    color: white;
    padding: 10px;
    border: 1.5px solid var(--darkmode-content-color);
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
    width: max-content;
    max-width: 500px;
    overflow-wrap: break-word;
}

.md-note:hover .note-tooltip {
    visibility: visible;
    opacity: 1;
}

.note-tooltip:empty {
    display: none;
}

section {
    flex: 1;
}

#markdown-content {
    flex: 1;
}

section {
    margin-top: -20px;
}