/* Định dạng văn bản */
#markdown-content {
    display: flex;
    flex-direction: column;
}

#markdown-content h1,
#markdown-content h2,
#markdown-content h3,
#markdown-content h4,
#markdown-content h5,
#markdown-content h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#markdown-content h1,
#markdown-content h2 {
    border-bottom: 1.5px solid black;
}

#markdown-content h1 code {
    font-size: inherit;
}

#markdown-content p {
    line-height: 1.5;
    text-indent: 2em;
    margin-bottom: 5px;
}

#markdown-content p:has( + ul) {
    margin-bottom: 0;
}

#markdown-content li p {
    text-indent: 0;
}

#markdown-content em {
    color: var(--highlight-color);
}

#markdown-content ol,
#markdown-content ul,
#markdown-content li {
    margin-bottom: 0.5em;
    line-height: 1.5;
}

/* Định dạng hiển thị code */
#markdown-content code {
    font-size: 15px;
    line-height: 1.5;
    background-color: var(--block-color);
    /* border-radius: 5px; */
}

#markdown-content code.language-python,
#markdown-content code.language-css,
#markdown-content code.language-js {
    background-color:inherit;
    color: inherit;
}

#markdown-content pre code.language-python,
#markdown-content pre code.language-js,
#markdown-content pre code.language-css {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
    margin-bottom: 1em;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre;
    display: block;
    width: 100%;
}

#markdown-content pre code.language-python {
    background: linear-gradient(to right, #3776AB, #3776AB, #FFD43B);
    color: white;
}

#markdown-content pre code.language-js {
    background-color: #F7DF1E;
}

#markdown-content pre code.language-css {
    background: linear-gradient(to right, #264DE4 50%, #2965F1 50%);
    color: white;
}

pre {
    position: relative;
    padding: 5px;
}

.language-python::before,
.language-js::before,
.language-css::before {
    content: "";
    display: inline-block;
    border: 1px solid black;
    color: white;
    font-size: 14px;
    /* font-weight: bold; */
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    left: 10px;
}

.language-python::before {
    content: "Python";
    background-color: #3776AB;
}

.language-js::before {
    content: "JavaScript";
    background-color: #F7DF1E;
    color: black;
}

.language-css::before  {
    content: "Css";
    background-color: #264DE4;
}

table {
    display: table;
    margin: auto;
    width: 100%;
    /* max-width: 100%; */
    border-collapse: collapse; /* Loại bỏ khoảng cách giữa các ô */
    font-family: Arial, sans-serif; /* Font chữ cho bảng */
    font-size: 16px; /* Kích thước chữ */
}

/* Định nghĩa kiểu cho các ô và đường viền */
table, th, td {
    /* border: 1px solid black; */
    padding: 5px; /* Khoảng cách bên trong mỗi ô */
    text-align: left; /* Canh trái văn bản */
    /* max-width: 800px; */
    word-wrap: break-word; /* Ngắt dòng nếu nội dung quá dài */
}
/* th, td {
    border-right: 1px solid black;
} */

/* Định nghĩa kiểu cho tiêu đề bảng */
th {
    background-color: var(--highlight-color); /* Màu nền của hàng tiêu đề */
    color: white; /* Màu chữ của tiêu đề */
    font-weight: bold; /* In đậm chữ */
}

/* Định nghĩa kiểu cho hàng lẻ và chẵn */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Màu nền cho hàng chẵn */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Màu nền cho hàng lẻ */
}

/* Đổi màu khi di chuột qua hàng */
tr:hover {
    background-color: #ddd; /* Màu nền khi di chuột qua */
}

#markdown-content span.key-term {
    background-color: var(--block-color);
    border-left: 2px solid var(--highlight-color);
}