/* Định dạng văn bản */
#markdown-content h1,
#markdown-content h2,
#markdown-content h3,
#markdown-content h4,
#markdown-content h5,
#markdown-content h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#markdown-content h1,
#markdown-content h2 {
    border-bottom: 1.2px solid black;
}

#markdown-content p {
    margin-bottom: 1em;
}

#markdown-content em {
    color: var(--highlight-color);
}

#markdown-content ol,
#markdown-content ul,
#markdown-content li {
    margin-bottom: 0.5em;
}

/* Định dạng hiển thị code */
#markdown-content code {
    font-size: 15px;
    line-height: 1.5;
    background-color: var(--block-color);
    /* border-radius: 5px; */
}

#markdown-content code.language-python,
#markdown-content code.language-css,
#markdown-content code.language-js {
    background-color:inherit;
    color: inherit;
}

#markdown-content pre code.language-python,
#markdown-content pre code.language-js,
#markdown-content pre code.language-css {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    max-width: 800px;
    margin-bottom: 1em;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre;
    display: block;
    width: 100%;
}

#markdown-content pre code.language-python
{
    background: linear-gradient(to right, #3776AB, #3776AB, #FFD43B);
    color: white;
}

#markdown-content pre code.language-js {
    background-color: #F7DF1E;
}

#markdown-content pre code.language-css {
    background: linear-gradient(to right, #264DE4 50%, #2965F1 50%);
    color: white;
}

pre {
    position: relative;
    padding: 5px;
}

.language-python::before,
.language-js::before,
.language-css::before {
    content: "";
    display: inline-block;
    border: 1px solid black;
    color: white;
    font-size: 14px;
    /* font-weight: bold; */
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    left: 10px;
}

.language-python::before {
    content: "Python";
    background-color: #3776AB;
}

.language-js::before {
    content: "JavaScript";
    background-color: #F7DF1E;
    color: black;
}

.language-css::before  {
    content: "Css";
    background-color: #264DE4;
}

/* Định dạng công thức toán */
li p:has(mjx-container.MathJax.CtxtMenu_Attached_0[display="true"]){
    display: flex;
}

li p mjx-container.MathJax.CtxtMenu_Attached_0[display="true"]{
    flex: 1;
    margin-left: 40px;
    width: calc(100% - 15px);
}

mjx-container.MathJax.CtxtMenu_Attached_0[display="true"] {
    background-color: var(--note-background-color);
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    max-width: 825px;
    width: 100%;
    margin: 10px auto;
    overflow-x: auto;
    white-space: pre;
    display: block;
}

/* Dấu tích phân */
mjx-c.mjx-c222B.TEX-S2::before {
    position: relative; 
    display: inline-block; /* Giúp transform hoạt động */
    transform: scaleY(1.9) skewX(-20deg); /* Kéo dài theo chiều dọc và nghiêng về bên phải */
    top: -5px; /* Di chuyển lên trên */
    left: 10px; /* Dịch sang phải */
}

/* Dấu tổng */
mjx-c.mjx-c2211.TEX-S1::before {
    position: relative;
    transform: scaleY(1.2);
    left: 12px;
}

/* Số nằm trên */
mjx-texatom[size="s"] mjx-c.mjx-c1D466.TEX-I::before{
    position: relative;
    left: -5px;
    top: -7px;
}

/* Số nằm dưới */
mjx-texatom[size="s"] mjx-c.mjx-c1D465.TEX-I::before{
    position: relative;
    left: -5px;
    bottom: -8px;
}