/* Định dạng thẻ <a>: Đường link */

a {
    color: var(--highlight-color);
}

header h1 a {
    text-decoration: none;
    color: var(--darkmode-content-color);
}

h1 a,
h2 a,
h3 a {
    text-decoration: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--darkmode-content-color);
    border: 1.5px solid var(--darkmode-content-color);
    border-radius: 5px;
    padding: 5px;
    /* margin-top: 0px; */
}