/* Navigation Styles */
ul ul li {
    /* border-left: 1px solid gray; */
    padding: 10px;
    border: 1.2px solid black;
    background-color: var(--note-background-color);
    border-radius: 5px;
}

ul {
    padding-left: 3em;
}

ol {
    padding-left: 1em;
}

ol li::marker {
    color: var(--highlight-color);
    font-weight: bold;
    /* font-size: 1.1em; */
}

nav ul {
    list-style: none;
    gap: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* nav ul li {
    margin: 0 10px;
} */

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--darkmode-content-color);
    border: 1.5px solid var(--darkmode-content-color);
    border-radius: 5px;
    padding: 5px;
    /* margin-top: 0px; */
}

nav ul {
    margin-right: 202px;
}

a {
    color: var(--highlight-color);
}

h1 a,
h2 a {
    text-decoration: none;
}

ul ul ul li {
    list-style-type: disc;
}

ul ul li:has(code[class]) {
    border: none;
}

header h1 a {
    text-decoration: none;
    color: var(--darkmode-content-color);
}

ol {
    margin-left: 35px;
}

/* ol {
    list-style: none;
    counter-reset: list-counter;
    margin-left: 20px;
}
  
ol li {
counter-increment: list-counter;
position: relative;
padding-left: 20px;
}
  
ol li::before {
content: counter(list-counter) ".";
position: absolute;
left: 0;
color: var(--highlight-color);
font-weight: bold;
} */

/* Image Styles */
img {
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content img {
    background-color: white;
    display: block; /* Chuyển thẻ img thành block để dễ xử lý */
}

#markdown-content .video-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#markdown-content iframe {
    width: 100%;
    height: 400px;
    border: none;
}

#markdown-content {
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 15px;
}

#markdown-content:has(.container) {
    border: none;
    padding: 0px;
}

/* Note Styles */
.note {
    background-color: #e9e9e9;
    border-left: 5px solid #ff9800;
    padding: 10px;
    margin: 20px 0;
}

/* Định nghĩa kiểu cho toàn bộ bảng */
/* display: block;
overflow-x: auto;
-webkit-overflow-scrolling: touch; */

/* Ghi chú câu */
.md-note {
    position: relative;
    display: inline-block;
    background-color: var(--block-color);
    border: 1.2px solid black;
    border-left: 2px solid var(--highlight-color);
    /*top - right - bottom - left */
    padding:0 5px 0 0;
    cursor: pointer;
    text-indent: 0;
}

.note-tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px;
    border: 1.5px solid var(--darkmode-content-color);
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
    width: max-content;
    max-width: 500px;
    white-space: normal;
    overflow-wrap: break-word;
}

.md-note:hover .note-tooltip {
    visibility: visible;
    opacity: 1;
}
.note-tooltip:empty {
    display: none;
}